//PRIMARY COLORS
$ink-1: #191D21; // Black
$ink-2: #656F77;
$ink-3: #ACB8C2;
$ink-4: #CDD9E3;
$ink-5: #E8EEF3;
$ink-6: #FFFFFF; // White

// ACCENT COLORS
$accent-orange: #FFD1B6;
$accent-yellow: #FFF3B6;
$accent-green: #D9FFF8;
$accent-blue: #CBE3FF;
$accent-purple: #F2E8FF;
$accent-pink: #FFDBF5;

// UTILITY COLORS
$blue: #0f3d88;
$green: #abce2e;
$grey: #a7c8df;
$yellow: #feeb35;
$warning: #fd9927;
$error: #e66647;

// UTILITY BACKGROUND COLORS
$warning-bg: #ffcc92;
$error-bg: #db9989;