@use './colors';
@use './variables' as *;

// MEDIA QUERIES
//Breakpoint for tablet size
@mixin tablet{
    @media screen and (min-width: 768px){
        @content;
    }
}

// Breakpoint for desktop size
@mixin desktop{
    @media screen and (min-width: 1280px){
        @content;
    }
}

// BUTTON STYLES
@mixin primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: colors.$ink-6;
    background-color: colors.$ink-1;
    border: none;
    border-radius: $border-radius;
    padding: 0 $padding;
    width: 100%;
    height: 56px;
    font: $mSubheader;

    &:hover {
        background-color: colors.$ink-2;
    }

    @include tablet {
        width: auto;
        height: 58px;
        font: $tSubheader;
    }
}

@mixin secondary-button {
    @include primary-button;
    background-color: colors.$ink-6;
    color: colors.$ink-1;
    border: 1px solid colors.$ink-1;

    &:hover {
        background-color: colors.$ink-6;
        color: colors.$ink-2;
        border: 1px solid colors.$ink-2;
    }
}

@mixin form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: colors.$ink-6;
    color: colors.$ink-1;
    border: 1px solid colors.$ink-1;
    border-radius: $border-radius;
    padding: 0 $padding;
    width: auto;
    height: 36px;
    font: $mBodyLarge;
    font-weight: 700;

    &:hover {
        background-color: colors.$ink-2;
    }

    @include tablet {
        height: 38px;
        font: $tBodyLarge;
        font-weight: 700;
    }
}

@mixin form-button-black {
    @include form-button;
    color: colors.$ink-6;
    background-color: colors.$ink-1;
    border: none;

    &:hover {
        background-color: colors.$ink-2;
    }

}

// FORM INPUT STYLES
@mixin primary-input {
    display: flex;
    align-items: center;
    color: colors.$ink-1;
    background-color: colors.$ink-6;
    border: 1px solid colors.$ink-3;
    border-radius: $border-radius;
    padding: 0 $padding;
    width: 100%;
    height: 36px;
    font: $tBodyMedium;
    margin-bottom: $margin;

    &:focus {
        outline: none;
        border: 1px solid colors.$blue; 
    }

    &:invalid {
        outline: none;
        border: 1px solid colors.$warning; 
    }

    &::placeholder {
        color: colors.$ink-1;
    }

    @include tablet {
        height: 38px;
    }

}

@mixin primary-textarea {
    display: flex;
    align-items: flex-start;
    color: colors.$ink-1;
    background-color: colors.$ink-6;
    border: 1px solid colors.$ink-3;
    border-radius: $border-radius;
    padding: $padding*0.5 $padding;
    width: 100%;
    height: 100px;
    font: $tBodyMedium;
    margin-bottom: $margin;

    &:focus {
        outline: none;
        border: 1px solid colors.$blue; 
    }

    &:invalid {
        outline: none;
        border: 1px solid colors.$warning; 
    }

    &::placeholder {
        color: colors.$ink-1;
    }

    @include tablet {
        height: 120px;
    }
}

// ICON STYLES
@mixin primary-icon {
    width: 22px;
    height: 22px;
    margin-left: $margin*0.5;

    &-path {
        fill: colors.$ink-6;
    }
}

@mixin small-icon {
    width: 16px;
    height: 16px;
    margin-right: $margin*0.5;

    &-path {
        fill: colors.$ink-1;
    }
}

// NOTIFICATION STYLES
@mixin error-notification {
    display: flex;
    align-items: center;
    color: colors.$ink-1;
    background-color: colors.$error-bg;
    border-radius: $border-radius;
    padding: $padding*0.5 $padding;
    width: 100%;
    font: $mBodySmall;
    margin-bottom: $margin*0.5;

    @include tablet {
        font: $tBodySmall;
    }
}

@mixin warning-notification {
    @include error-notification;
    background-color: colors.$warning-bg;
}

// TRIP STATUS
@mixin trip-status-inactive {
    color: colors.$ink-1;
    background-color: colors.$grey;
    padding: 0 $padding;
    font: $mLabels;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: $border-radius*4;
    margin: 0 $margin*0.5;

    @include tablet {
        font: $tLabels;
        height: 34px;
        margin: 0;
    }
}

@mixin trip-status-active {
    @include trip-status-inactive;
    background-color: colors.$yellow;
}

@mixin trip-status-completed {
    @include trip-status-inactive;
    background-color: colors.$green;
}

@mixin trip-status-overdue {
    @include trip-status-inactive;
    background-color: colors.$error;
}